{% extends "base.html" %}


{% block content %}



<section style="padding-top:140px;">


<div class="container">



<h1 class="section-title">

Research Projects

</h1>


<p class="text-center mb-5">

Current and completed research activities of MMR Lab.

</p>





<div class="row">



{% for project in projects %}



<div class="col-md-4 mb-4">



<div class="research-card">



<h3>

{{ project.title }}

</h3>




{% if project.research_area %}

<p>

<strong>
Research Area:
</strong>

<br>

{{ project.research_area }}

</p>

{% endif %}





<p>

{{ project.description }}

</p>




<p>


<strong>
Status:
</strong>



<span class="project-status">

{{ project.status }}

</span>


</p>



{% if project.start_date %}

<p>

<strong>
Start:
</strong>

{{ project.start_date }}

</p>

{% endif %}




{% if project.end_date %}

<p>

<strong>
End:
</strong>

{{ project.end_date }}

</p>

{% endif %}




</div>


</div>



{% empty %}



<div class="text-center">


<p>

No projects added yet.

</p>


</div>



{% endfor %}



</div>



</div>


</section>



{% endblock %}